body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    text-align: center;
  }
  .middle {
    margin-top: 30px;
  }
  
  .wrapper {
    border: 0;
    height: 1.5px;
    background-color: #f08d029d; 
  }
  .wrapper1 {
    border: 0;
    height: 1px;
    background-color: lightgrey; 
  }
  
 

  
  .introduction {
    position: relative;
    width: 99vw; /* 뷰포트 너비 100% */
    height: 99vh; /* 뷰포트 높이 100% */
    overflow: hidden; /* 넘치는 부분 숨기기 */
  }
  
  .introduction div:nth-child(2) {
    position: absolute;
    top: 50%; /* 수직 중앙 정렬 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 이동 */
    color: rgb(148, 148, 148); /* 텍스트 색상 */
    padding: 10px; /* 텍스트 주변 여백 */
    border-radius: 5px; /* 모서리 둥글게 */
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
  }
  
  h5 {
    color:grey;
    font-size: 0.6em;
    padding-left: 100px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .allproduct{
    padding-left: 5%;
    color:black;
    font-size: 1.3em;
    font-weight:500; 
    position: relative;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


.allsee{
  position: absolute;
  left: 90%;
}

.allseebutton {
  color: black;
  transition: all 0.2s;
  transform: scale(1);
  margin-top: 60px;
  background: white;
  border: 0px solid;
  border-color: white;
  font-size: 10px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}