/* src/App.css */
.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* 카테고리나 랭킹 리스트를 위한 기본 컨테이너 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
